.popup {
    position: fixed;
    z-index: 1;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.width50 {
    width: 50%
}

.fill-vertical {
    min-height: 100%;
}

.product-img {
    object-fit: scale-down;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: scale-down;
}

.hover {
    cursor: pointer;
}
